@import url('');

:root{
    --color-primario:#ffff;
    --color-secundario:#02def3;
    --color-terciario:#f5edd6;
    --color-cuarto:#0000;
    --color-quinto:#dbffac;
    --color-sexto:#dbe3e0;
    --color-dorado:#efb810;
    --color-gris-oscuro:#636571;
    --fuente-calibri:'calibri', sans serif;
    --fuente-calibri-negrita:'calibri', bold;
    --fuente-Sicret-Mono-PERSONAL:'Sicret Mono PERSONAL', bold;
}

*{
    padding: 0%;
    margin: auto;
    box-sizing: border-box;
}

/**---HEADER--**/

header{
    box-sizing: content-box;
    position: initial;
    display: flex;
    background-color: #111010;
    justify-content: space-around;
    align-items: center;
}

body {
    height: auto;
    font-family: var(--fuente-calibri);
}

.logo{
    display: flex;
    align-items: center;
}

.logo_Obersvatorio img{
    display: flex;
    width: 100%;
    height: auto;
    margin-left: 10px;
    flex-direction:column;
    justify-content:center;
    position: initial;
}

.col-lg-9{
    position: relative;
    background-color: var(--color-primario);
    color: var(--color-gris-oscuro);
    font-family: var(--fuente-calibri);
    font-size: 60%;
    width: 500px;
    height: 160px;
    padding: 6px;
}

.menu{
    display: flex;
    width: 100%;
    justify-content:center;
}

.menu_contenido{
    display: flex;
    height: 30%;
    width: auto;
    color: var(--color-primario);
    align-items:center;
    display: flex;
    justify-content:space-between;
    flex-direction: column-reverse;
    margin: 1rem 1rem 0rem 1rem;
    position: relative;
}

.header__menú__link{
    display: flex;
    width: auto;
    justify-content:center;
}

.btn {
    background-color: var(--color-primario);
    position: relative;
    width: 160%;
    font-family: var(--fuente-calibri-negrita);
    color: var(--color-secundario);
    border: none;
    border-radius: 5px;
    font-size: 75%;
    padding: 10px;
    margin: 2px 2px;
    cursor: pointer;
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    flex-flow: column-reverse;
  }

.btn:hover {
    background-color: var(--color-secundario);
    color: var(--color-primario);
    display: flex;
}

nav a{
    font-weight: 600;
    padding-right: 20px;
    display: flex;
}

nav a:hover{
    color: none;
    display: flex;
}

a{
    text-decoration: none;
    color: black;
}


.resolucion{
    width: 100%;
}

/**Movil**/

@media (max-width: 890px){
    .desktop {
        display: none;
    }
    .tablet {
        display: none;
    }
    .movil {}

    nav ul a{
        font-size: 16px;
        display: flex;
    }
}

/**Tablet**/

@media (min-width: 768px) and (max-width: 990px){
    .desktop {display: none;}
    .tablet {}
    .movil {display: none;}
}

/**Escritorio**/

@media (min-width: 990px){
    .desktop {}
    .tablet {display: none;}
    .movil {display: none;}
    
    .ul_menu{
        display: flex;
        width: 100%;
        height: 100%;
        top: 80px;
        left: -100%;
        text-align: center;
    }
    nav .ul_menu{
        margin: 10px 0;
        line-height: 30px;
    }
    nav .ul_menu a{
        font-size: 20px;
    }

    .btn:hover {
        background-color: var(--color-secundario);
        font-family: var(--fuente-calibri-negrita) var(--color-secundario) ;
    }

}

.Título-destaque{
    color: var(--color-secundario);
}

/* ------------------------------ Sección Presentación ------------------------------*/

.presentacion{
    color: var(--color-de-fondo);
}

.presentacion__foto {
    background-image: var(--imagen-de-perfil);
    position: relative;
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 50%;
    border: 4px solid var(--color-septimo);
    padding: 0px;
}

.presentacion__contenedor{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
    font-family: var(--fuente-calibri);
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px;
}

.parrafo__presentacion{
    order: 1;
}

.presentacion__titulo{
    margin: 5px 10px;
    justify-content: center;
}

.presentacion__subtitulo

.presentacion__contenedor,
.redes{
    order: 2;
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}

.redes__img img{
    display: flex;
    color: var(--color-de-fondo);
    width:30px;
    height: auto;
    object-fit: contain;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/

.sobre-mi{
    display: flex;
    align-items: center;
    justify-content: center;
}

.presentacion__sobre_mi__contenedor{
    display: flex;
    align-items: center;
    font-family: var(--fuente-calibri);
    flex-wrap: wrap;
    flex-direction: column;
    background-color: none;
    border: 4px solid var(--color-primario);
    border-radius: 10px;
    padding: 10px;
    width: 80%;
}

.parrafo__sobre__mi{
    display: flex;
    justify-content: center;
    padding: 0px;
    align-items: center;
    font-weight: 600;
    font-family: var(--fuente-calibri);
    flex-wrap: wrap;
    flex-direction: column;
}

.sobre-mi__firma{
    object-fit: contain;
    width: 300px;
    height: auto;
    border-radius: 5px;
    border: 4px solid var(--color-sexto);
}

/*------------------------------ FOOTER (RODAPIE) ---------------------------------*/

.footer{
    background-color: var(--color-primario);
    padding: 12px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

.contenido_footer{
    display: flex;
    flex-wrap: wrap;
    width: auto;
    justify-content: center;
}

.presentación_enlaces{
    display: flex;
    justify-content: center;
}

.footer_text_contenido{
    margin-left: auto;
    justify-content: center;
    display: flex;
    color: var(--color-terciario);
}

.presentación__logo__personal{
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    margin-top: 10px;
}

.presentación__enlaces__iconos{
    display: flex;
    justify-content: center;
    width: 5%;
    height: auto;
    gap: 10px;
}

.derechos_de_autor_text{
    font-size: 50%;
    color: black;
    font-family: var(--fuente-calibri);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Contenido_de_lado {
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--fuente-calibri);
    margin:  5px 5px;
    position: relative;
    
}

.contenido {
    display: flex;
    justify-content: center;
    margin-left: 10px;
}

.imagen {
    width: 50%;
    height: 320px;
    margin-right: 10%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin:  10px 0px;
    flex-direction: column;
}

/*------------------------------ BOTÓN VOLVER ARRIVA ---------------------------------*/

.btn_volver_arriba{
    position: relative;
    padding: 10px;
    font-size: 100%;
    font-family: var(--fuente-calibri);
    border: 2px solid var(--color-septimo);
    background: var(--color-primario);
    color: var(--color-septimo);
    border-radius: 10px;
    cursor: pointer;
    margin: 10px 0;
    float: right;
}

.Contenido_central_volver_arriba{
    justify-content: center;
    display: flex;
    clear: both;
}

@media (max-width: 768px) { /* Ajusta el valor de max-width según tus necesidades */
    .btn_volver_arriba {
      display: none;
    }
  }